* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  min-width: none;
}

body {
  background-color: grey;
}

#main-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

#next-btn-container {
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#previous-btn-container {
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#fullscreen-container {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thumbnail-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thumbnail-img {
  min-width: none;
  max-width: 100px;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}

#thumbnail-img:hover {
  padding: 5px;
  border-radius: 22px;
  background-color: rgb(54, 54, 54);
}

#fullscreen-img {
  min-width: none;
  max-width: 600px;
  height: auto;
  padding: 10px;
  border-radius: 20px;
}

#next-btn {
  width: 50px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
  font-weight: bold;
}

#previous-btn {
  width: 50px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
  font-weight: bold;
}

#next-btn:focus {
  background-color: rgba(192, 192, 192, 0.37);
  padding: 1px;
}

#thumbnail-img:focus {
  background-color: rgba(192, 192, 192, 0.37);
  padding: 1px;
}

#previous-btn:focus {
  background-color: rgba(192, 192, 192, 0.37);
}

@media (max-width: 1100px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #thumbnail-container {
    top: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #next-btn-container {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  #previous-btn-container {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #next-btn {
    width: 50px;
    height: 50px;
    margin-top: 30px;
  }

  #previous-btn {
    width: 50px;
    height: 50px;
    margin-top: 30px;
  }
  #thumbnail-img {
    min-width: none;
    max-width: 75px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
  }
}
