* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#fullscreen-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px;
  margin: 30px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.37);
}

#elephantImg {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
}

#foxImg {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
}

#leopardImg {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
}

#raccoonImg {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
}

#tigerImg {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
}

#fullscreen-elephantImg {
  width: 600px;
  height: 600px;
  padding: 10px;
  border-radius: 20px;
}

#fullscreen-foxImg {
  width: 600px;
  height: 600px;
  padding: 10px;
  border-radius: 20px;
}

#fullscreen-leopardImg {
  width: 600px;
  height: 600px;
  padding: 10px;
  border-radius: 20px;
}

#fullscreen-raccoonImg {
  width: 600px;
  height: 600px;
  padding: 10px;
  border-radius: 20px;
}

#fullscreen-tigerImg {
  width: 600px;
  height: 600px;
  padding: 10px;
  border-radius: 20px;
}

#next-btn {
  width: 50px;
  height: 50px;
}

#previous-btn {
  width: 50px;
  height: 50px;
}
